 {
	"ZOO":  {
		"version": "2.5.17",
		"manifest": "administrator\/components\/com_zoo\/zoo.xml",
		"url": "http:\/\/www.yootheme.com\/zoo\/downloads"
	},
	"ZOOaksubs":  {
		"version": "2.5.6",
		"manifest": "plugins\/system\/zooaksubs\/zooaksubs.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/zooaksubs"
	},
	"ZOOcompare":  {
		"version": "2.5.7",
		"manifest": "plugins\/system\/zoocompare\/zoocompare.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/zoocompare"
	},
	"ZOOfilter":  {
		"version": "2.5.7",
		"manifest": "plugins\/system\/zoofilter\/zoofilter.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/zoofilter"
	},

	"Audio":  {
		"version": "2.5.5",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/audio\/audio.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/audio"
	},
	"Date Pro":  {
		"version": "2.5.1",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/datepro\/datepro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/events"
	},
	"Download Pro":  {
		"version": "2.5.5",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/downloadpro\/downloadpro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/download-pro"
	},
	"Googlemaps Pro":  {
		"version": "2.5.2",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/googlemapspro\/googlemapspro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/events"
	},
	"Image Pro":  {
		"version": "2.5.6",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/imagepro\/imagepro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/image-pro"
	},
	"Link Pro":  {
		"version": "2.5.4",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/linkpro\/linkpro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/link-pro"
	},
	"Related Categories Pro":  {
		"version": "2.5.4",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/relatedcategoriespro\/relatedcategoriespro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/related-categories-pro"
	},
	"Related Items Pro":  {
		"version": "2.5.8",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/relateditemspro\/relateditemspro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/related-items-pro"
	},
	"Texts":  {
		"version": "2.5.2",
		"manifest": "plugins\/system\/zoo_zlelements\/zoo_zlelements\/elements\/textareapro\/textareapro.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/texts"
	}
}