 {
	"jbuniversal.product.default":  {
		"fields":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			}
		}
	},
	"jbuniversal.product.accordion":  {
		"tab-1":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			}
		},
		"tab-2":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			}
		},
		"tab-3":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			}
		},
		"tab-4":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "HDD",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			}
		}
	}
}