 {
	"name": "Product",
	"elements":  {
		"17577f93-d75a-4aa7-8aeb-f00411a67df0":  {
			"name": "\u0424\u043e\u0442\u043e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/menu\/other\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"type": "jbimage"
		},
		"b25d255c-b3e7-4540-9e52-020546c8df8a":  {
			"name": "\u0421\u043e\u0441\u0442\u0430\u0432",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual":  {
				"_languages":  {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"1e9883cc-de7d-4959-a14a-0bab447cf36d":  {
			"name": "\u0421\u043e\u0441\u0442\u0430\u0432",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual":  {
				"_languages":  {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"5213a4c8-0f36-4091-8a4a-66313c9e9440":  {
			"name": "\u041c\u0430\u0441\u0441\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual":  {
				"_languages":  {
					"0": "ru-RU"
				}
			},
			"type": "text"
		},
		"7f92158a-7331-4c81-98d9-bdc8b6b49541":  {
			"name": "\u041c\u0430\u0441\u0441\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual":  {
				"_languages":  {
					"0": "en-GB"
				}
			},
			"type": "text"
		},
		"b0d2b218-87a9-4573-85b7-350d2eec1061":  {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"currency_default": "RUB",
			"balance_mode": "0",
			"mode": "0",
			"cache": "0",
			"adv_all_exists_show": "0",
			"adv_show_empty": "1",
			"adv_field_param_edit": "1",
			"adv_field_param_1": "",
			"adv_field_param_1_default": "",
			"adv_field_param_2": "",
			"adv_field_param_2_default": "",
			"adv_field_param_3": "",
			"adv_field_param_3_default": "",
			"adv_field_text": "0",
			"adv_field_text_default": "",
			"basket_menuitem": "114",
			"basket_appid": "1",
			"basket_nopaid": "1",
			"type": "jbpriceadvance"
		},
		"51b8654f-384c-4790-a283-731c26593e39":  {
			"name": "\u041a\u043e\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "\u041a\u043e\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual":  {
				"_languages":  {
					"0": "ru-RU"
				}
			},
			"type": "textarea"
		},
		"553bbf06-8915-4e76-96fd-c39498fdbb8c":  {
			"name": "\u041a\u043e\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"description": "\u041a\u043e\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual":  {
				"_languages":  {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Item Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Item Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Item Category",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Item Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Item Created",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Item Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Item Frontpage",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Item Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Item Modified",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Item Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Item Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Item Publish Down",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Item Publish Up",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Item Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "Item State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Item Tag",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}