 {
	"jbuniversal.news.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%d.%m.%y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"tags":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"gallery-slider":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "slideshow",
				"lightbox_group": "0",
				"lightbox_caption": "0",
				"slideshow_animated": "scroll",
				"slideshow_width": "755",
				"slideshow_height": "340",
				"slideshow_autoplay": "0",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "0",
				"order": "asc",
				"width": "0",
				"height": "0",
				"count": "0",
				"element": "6e149244-1459-44c8-9f94-ce80bd8c83a4"
			}
		},
		"gallery-wall":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "lightbox",
				"lightbox_group": "1",
				"lightbox_caption": "1",
				"slideshow_animated": "top",
				"slideshow_width": "auto",
				"slideshow_height": "auto",
				"slideshow_autoplay": "1",
				"slideshow_interval": "5000",
				"slideshow_duration": "500",
				"effect": "",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"corners": "square",
				"margin": "0",
				"order": "asc",
				"width": "410",
				"height": "275",
				"count": "0",
				"element": "6e149244-1459-44c8-9f94-ce80bd8c83a4"
			}
		},
		"prevnext":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemprevnext"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual":  {
					"_languages":  {
						"0": "ru-RU"
					}
				},
				"element": "513ecff9-2aba-40a5-8e3e-a939b430b776"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual":  {
					"_languages":  {
						"0": "en-GB"
					}
				},
				"element": "c7f8ffe3-2370-497b-a1a3-a80b9b3abd2f"
			}
		}
	},
	"jbuniversal.news.teaser":  {
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%d.%m.%y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "410",
				"height": "275",
				"link_to_item": "1",
				"element": "bbcc2de4-fb0b-42c3-a58c-fb114f3b8856"
			}
		},
		"tags":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		}
	},
	"jbuniversal.news.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "513ecff9-2aba-40a5-8e3e-a939b430b776"
			}
		}
	},
	"jbuniversal.product.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			}
		}
	},
	"jbuniversal.product.teaser":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "itemlink",
				"group_popup": "0",
				"width": "410",
				"height": "275",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "17577f93-d75a-4aa7-8aeb-f00411a67df0"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"show_empty_price": "1",
				"show_empty_balance": "1",
				"currency_default": "RUB",
				"params_tmpl": "0",
				"balance_show": "0",
				"sku_show": "0",
				"description_show": "0",
				"new_show": "0",
				"hit_show": "0",
				"sale_show": "0",
				"count_show": "1",
				"count_default": "1",
				"count_multiple": "1",
				"button_mode": "normal",
				"modal_params_tmpl": "0",
				"modal_balance_show": "2",
				"modal_sku_show": "1",
				"modal_description_show": "1",
				"modal_new_show": "1",
				"modal_hit_show": "1",
				"modal_sale_show": "1",
				"modal_count_show": "1",
				"modal_count_default": "1",
				"modal_count_multiple": "1",
				"button_mode_popup": "normal",
				"only_price_mode": "1",
				"only_balance_mode": "2",
				"only_sale_mode": "4",
				"only_button_mode": "normal",
				"element": "b0d2b218-87a9-4573-85b7-350d2eec1061"
			}
		}
	},
	"jbuniversal.product.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "0",
				"width": "500",
				"height": "335",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "17577f93-d75a-4aa7-8aeb-f00411a67df0"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0421\u043e\u0441\u0442\u0430\u0432:",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual":  {
					"_languages":  {
						"0": "ru-RU"
					}
				},
				"element": "b25d255c-b3e7-4540-9e52-020546c8df8a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Ingredients:",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual":  {
					"_languages":  {
						"0": "en-GB"
					}
				},
				"element": "1e9883cc-de7d-4959-a14a-0bab447cf36d"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "\u041c\u0430\u0441\u0441\u0430:",
				"separated_by": "tag=[<span>%s<\/span>]",
				"zoolingual":  {
					"_languages":  {
						"0": "ru-RU"
					}
				},
				"element": "5213a4c8-0f36-4091-8a4a-66313c9e9440"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Weight:",
				"separated_by": "tag=[<span>%s<\/span>]",
				"zoolingual":  {
					"_languages":  {
						"0": "en-GB"
					}
				},
				"element": "7f92158a-7331-4c81-98d9-bdc8b6b49541"
			}
		},
		"anons":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0426\u0435\u043d\u0430:",
				"template": "default",
				"show_empty_price": "1",
				"show_empty_balance": "1",
				"currency_default": "RUB",
				"params_tmpl": "0",
				"balance_show": "0",
				"sku_show": "0",
				"description_show": "0",
				"new_show": "0",
				"hit_show": "0",
				"sale_show": "0",
				"count_show": "1",
				"count_default": "1",
				"count_multiple": "1",
				"button_mode": "normal",
				"modal_params_tmpl": "0",
				"modal_balance_show": "2",
				"modal_sku_show": "1",
				"modal_description_show": "1",
				"modal_new_show": "1",
				"modal_hit_show": "1",
				"modal_sale_show": "1",
				"modal_count_show": "1",
				"modal_count_default": "1",
				"modal_count_multiple": "1",
				"button_mode_popup": "normal",
				"only_price_mode": "1",
				"only_balance_mode": "2",
				"only_sale_mode": "4",
				"only_button_mode": "normal",
				"element": "b0d2b218-87a9-4573-85b7-350d2eec1061"
			}
		}
	},
	"jbuniversal.product.related":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "100",
				"height": "100",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"rating":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "a6145996-4ce6-4a11-8aa9-c17a13b67cc0"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			}
		}
	},
	"jbuniversal.product.compare":  {
		"fields":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "a6145996-4ce6-4a11-8aa9-c17a13b67cc0"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "175",
				"height": "200",
				"width_popup": "",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"6":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"7":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f69b21c-d551-46ea-b494-dff0cb1ba2c3"
			},
			"8":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "66e0527e-ee98-45da-9fb6-114999ab2394"
			},
			"9":  {
				"showlabel": "0",
				"altlabel": "Price",
				"show_empty_price": "1",
				"template": "only_price",
				"currency_default": "EUR",
				"balance_show": "2",
				"sku_show": "1",
				"description_show": "1",
				"params_show": "1",
				"new_show": "1",
				"sale_show": "1",
				"count_show": "1",
				"count_default": "1",
				"count_multiple": "1",
				"only_price_mode": "3",
				"only_balance_mode": "2",
				"only_sale_mode": "4",
				"oneclick_show_params": "1",
				"element": "b0d2b218-87a9-4573-85b7-350d2eec1061"
			}
		}
	},
	"jbuniversal.order.order":  {
		"billing":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"name":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"zoolingual":  {
					"_overided": "on"
				},
				"element": "895edd20-a44c-4d46-b5c4-edff2d4e9978"
			}
		},
		"phone":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "de283275-7b3c-4fb2-a508-32a5246530b2"
			}
		},
		"mail":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "98435afd-289c-4167-ae24-9cf6f9e1572e"
			}
		},
		"metro":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "f5895ad2-6256-4f9c-ab7d-07590691527b"
			}
		},
		"street":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "054e91ab-2ece-4deb-980a-52a1f8121402"
			}
		},
		"dom":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "124a587b-2f0d-4e2c-a542-de5c3b0bc7c7"
			}
		},
		"stroenie":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "6b148f28-a240-4afb-b50f-14d1ce21b9d5"
			}
		},
		"podiezd":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "e7af878c-726e-42c0-9184-ab18498b7ab2"
			}
		},
		"etaj":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "fafaad36-a25c-4d81-9e0f-8611e85c2c26"
			}
		},
		"kvartira":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "3d88645f-d397-49e4-ba1c-507bddd2e595"
			}
		},
		"domofon":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "63cc1d0d-8baa-4f8c-9384-f3b9840f2282"
			}
		},
		"dop-options":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "ac8ba47b-f73a-4960-822e-2e9c47964479"
			}
		},
		"primechanie":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "30d8f45f-8f08-4559-bc9b-402bee90a9c7"
			}
		}
	},
	"jbuniversal.order.orderemail":  {
		"items":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "table",
				"basket-menuitem": "103",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"billing":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "895edd20-a44c-4d46-b5c4-edff2d4e9978"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "de283275-7b3c-4fb2-a508-32a5246530b2"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "98435afd-289c-4167-ae24-9cf6f9e1572e"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f5895ad2-6256-4f9c-ab7d-07590691527b"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "054e91ab-2ece-4deb-980a-52a1f8121402"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "124a587b-2f0d-4e2c-a542-de5c3b0bc7c7"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6b148f28-a240-4afb-b50f-14d1ce21b9d5"
			},
			"7":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e7af878c-726e-42c0-9184-ab18498b7ab2"
			},
			"8":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fafaad36-a25c-4d81-9e0f-8611e85c2c26"
			},
			"9":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3d88645f-d397-49e4-ba1c-507bddd2e595"
			},
			"10":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "63cc1d0d-8baa-4f8c-9384-f3b9840f2282"
			},
			"11":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ac8ba47b-f73a-4960-822e-2e9c47964479"
			},
			"12":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "30d8f45f-8f08-4559-bc9b-402bee90a9c7"
			}
		}
	},
	"jbuniversal.news.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "0535f025-1974-45ab-89e2-0d2038a30c8f"
			}
		}
	},
	"jbuniversal.order.teaser":  {
		"name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y %H:%M",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "totalprice",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"payment-status":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "status",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "method",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "paymentlink",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		}
	},
	"jbuniversal.order.full":  {
		"items":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"basket-menuitem": "0",
				"element": "1af7e792-bcff-4a6c-9bdb-dd5023b0251a"
			}
		},
		"billing":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c1b20e16-3869-40db-95b9-2c8fd0a8649f"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7ced0571-b1d7-4311-acd9-e4dda76a4cb6"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d99453d3-f892-4a05-b303-1ffa8d4e26df"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f4e8ec9-09b3-4c45-812d-08b9af568847"
			}
		},
		"shipping":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1e680d82-aa09-40d1-9c83-6baf90ceee13"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e51aca1f-39d6-4e2a-aebb-2cba5cef52fc"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c2e23d15-41c5-4406-b7fa-0db873105c78"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "dc9abe7b-8bc8-4916-b2c5-d87770d08416"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"separated_values_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"element": "95ab68ae-ef29-4d10-a82d-c2bd78258227"
			}
		},
		"payment":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2c200017-7279-46db-a2fe-2ef87b7ac23c"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "b9ac38ab-1a81-458c-a5f5-d52146f3b543"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c5a1002e-4d40-4b52-9a3d-a823b8c56646"
			}
		},
		"other":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "1d555d7d-1f89-4363-a7e4-d470bd5641a2"
			}
		}
	},
	"jbuniversal.product.favorite":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "200",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f69b21c-d551-46ea-b494-dff0cb1ba2c3"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "546434f5-98ae-499c-b282-54355dbcc09c"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "66e0527e-ee98-45da-9fb6-114999ab2394"
			},
			"7":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"8":  {
				"showlabel": "1",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "15ce0fa8-fbff-41dd-824d-d4bb30495f81"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			}
		}
	},
	"jbuniversal.product.quickview":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fc498cea-a276-4ce7-9719-50526c5742d7"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"show_empty_price": "1",
				"show_empty_balance": "1",
				"currency_default": "EUR",
				"currency_list":  {
					"0": "EUR",
					"1": "USD",
					"2": "RUB",
					"3": "UAH"
				},
				"params_tmpl": "2",
				"balance_show": "2",
				"sku_show": "1",
				"description_show": "1",
				"new_show": "1",
				"sale_show": "1",
				"count_show": "1",
				"count_default": "1",
				"count_multiple": "1",
				"button_mode": "normal",
				"modal_params_tmpl": "0",
				"modal_balance_show": "2",
				"modal_sku_show": "1",
				"modal_description_show": "1",
				"modal_new_show": "1",
				"modal_sale_show": "1",
				"modal_count_show": "1",
				"modal_count_default": "1",
				"modal_count_multiple": "1",
				"only_price_mode": "1",
				"only_balance_mode": "2",
				"only_sale_mode": "4",
				"only_button_mode": "normal",
				"element": "b0d2b218-87a9-4573-85b7-350d2eec1061"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e2e366a-b4cd-4415-8bdd-460009d947ed"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "617d73a3-199c-4d64-af61-4ed72d40447a"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f69b21c-d551-46ea-b494-dff0cb1ba2c3"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "546434f5-98ae-499c-b282-54355dbcc09c"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"separated_values_by": "separator=[, ]",
				"display": "all",
				"template": "default",
				"element": "f056705e-3c01-4b72-9901-45c4176cc903"
			}
		}
	},
	"jbuniversal.product.ymlexport":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"show_empty_price": "1",
				"show_empty_balance": "1",
				"currency_default": "EUR",
				"params_tmpl": "0",
				"balance_show": "2",
				"sku_show": "1",
				"description_show": "1",
				"new_show": "1",
				"hit_show": "1",
				"sale_show": "1",
				"count_show": "1",
				"count_default": "1",
				"count_multiple": "1",
				"button_mode": "normal",
				"modal_params_tmpl": "0",
				"modal_balance_show": "2",
				"modal_sku_show": "1",
				"modal_description_show": "1",
				"modal_new_show": "1",
				"modal_hit_show": "1",
				"modal_sale_show": "1",
				"modal_count_show": "1",
				"modal_count_default": "1",
				"modal_count_multiple": "1",
				"button_mode_popup": "normal",
				"only_price_mode": "1",
				"only_balance_mode": "2",
				"only_sale_mode": "4",
				"only_button_mode": "normal",
				"element": "b0d2b218-87a9-4573-85b7-350d2eec1061"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "487a4095-5e4f-4156-892e-ad77a6174d73"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3ef0ea3-c45f-4380-a8fe-1746073d08fb"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4ec1e9ad-18d5-4604-bf64-2b0314d0c473"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f6c1161a-f621-40f6-96f4-5b0f7a82ea9c"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "f6bf4bf3-98d5-4741-af75-c1985b8728e3"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "991126ed-ac39-4c0d-abc0-b42058a85b6a"
			}
		},
		"vendor":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f69b21c-d551-46ea-b494-dff0cb1ba2c3"
			}
		}
	}
}